@import "../config/reset";

@import "../settings/variables";
@import "../elements/base";

@import "../elements/header";
@import "../elements/navigation";
@import "../elements/hamburgers";


@import "../elements/headings";


//@import "mixin";


@import "../elements/wellcome";
@import "../elements/benefits";
@import "../elements/statistics";
@import "../elements/princing";
@import "../elements/contact";
@import "../elements/buttons";
