@import "../config/reset";

@import "../settings/variables";
@import "../settings/mixins";
@import "../elements/base";



@import "../elements/navigation";
@import "../elements/header-and-footer";
@import "../elements/hamburgers";

@import "../elements/wellcome";
@import "../elements/benefits";
@import "../elements/statistics";
@import "../elements/princing";
@import "../elements/contact";
@import "../elements/buttons";
