* {
    box-sizing: border-box;
}

body {
    font-family: $font-open-sans;
}

a {
    text-decoration: none;
}

h2 {
    font-family: $font-raleway;
    font-size: 2.25rem;
}






.section_price {
    background-color:  var(--color-white);
    width: 100%;
}

.pricing_ofer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 100px;
}

.headline_pricing {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-family: var(--font-raleway);
    letter-spacing: 0px;
    color:  var(--color-black);
    height: 42px;
}

.pricing_container {
    width: 100%;
    max-width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.pricing_box {
    background-color:  var(--color-white);
    border: 1px solid;
    border-radius: 18px;
    width: 372px;
    height: 461px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pricing_basic {
    border-color:  var(--color-redish);
    color:  var(--color-redish);
}


.pricing_professional {
    border-color: #07ACE6;
    box-shadow: 5px 10px 27px #07ACE629;
    width: 405px;
    height: 500px;
    color: #07ACE6;
}

.pricing_premium {
    border-color:  var(--color-green);
    color:  var(--color-green);
} 

.headline_pricing_box {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 1px;
    font-family: var(--font-raleway);
    letter-spacing: 0px;
    color: #13253B;
    margin-top: 25px;
}

.price_pakiet {
    text-align: left;
    font-weight: 300;
    font-size: 46px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    margin-top: 20px;
}

.pakiet_basic {
    margin-bottom: 10px;
}

.limited_info {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    line-height: 1px;
    font-family: var(--font-raleway);
    letter-spacing: 0px;
    color: #13253B;
}

.pricing_list {
    margin-top: 50px;
}

.pricing_element {
    text-align: center;
    font-size: 14px;
    line-height: 41px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    color:  var(--color-black);
}

.pricing_yes::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Ckechmark-1.svg");
  }

.pricing_not::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Close.svg");
  }

.btn {
    position: relative;
    bottom: -45px;
    width: 150px;
    height: 50px;
    background-color: #EB476E;
    border-radius: 23px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    line-height: 50px;
    font-family: var(--font-open-sans);   
    letter-spacing: 0px;
    color:  var(--color-white);
}

.btn_basic {
    background-color: #EB476E;
}

.btn_professional {
    background-color: #07ACE6;
}

.btn_premium {
    background-color:  var(--color-green);
}

.section_contact {
    display: flex;
    justify-content: center;
    margin-top: 155px;
    background-color:  var(--color-white);
    width: 100vw;
}


.contant_container {
    display: flex;
    width: 100vw;
    max-width: 50%;
    flex-direction: row;
    justify-content: space-around;
}

.contact_info {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.headline_questions {
    text-align: left;
    font-size: 49px;
    line-height: 57px;
    font-family: var(--font-raleway);
    letter-spacing: 0px;
    color:  var(--color-black);
}

.questions_text {
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    color:  var(--color-black);
    margin-top: 22px;
    margin-bottom: 40px;
}

.contant_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.email_icon::before {
    content: "";
    background-image: url("/assets/Mail\ Icon.svg");
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-right: 10px;
}

.phone_icon::before {
    content: "";
    background-image: url(/assets/Phone\ Icon.svg);
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-right: 10px;
}

.contact_form_box {
    width: 440px;
    height: 376px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact_detalis {
    display: inline-flex;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    color:  var(--color-grey);
    align-items: center;
}

.contact_form {
    display: flex;
    flex-direction: column;
}

.form_contact {  
    border: none;
    border-bottom: 1px solid #95989A;
    width: 440px;
}

.form_text {
    text-align: left;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    font-family: var(--font-open-sans);
    letter-spacing: 3.28px;
    color: var(--color-primary);
}

.form_text:hover {
    box-shadow: 0px 1px 6px #FF00004D;
    border: 1px solid #FF0000;
    border-radius: 8px;
}

.checkbox_icon {
    display: flex;
    background-position: center;
    background-size: 50%;
    background-color:  var(--color-white);
    margin-right: 10px;
    flex-shrink: 0;
    flex-basis: 24px;
    height: 24px;
    border: 1px solid #95989A;
    border-radius: 4px;
}

.checkbox_form {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.checkbox_form:checked + .checkbox_icon {
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.checkbox_text {
    text-align: left;
    font-size: 12px;
    line-height: 17px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    color: #707070;
}

.checkbox_box {
    display: flex;
    position: relative;
}

.btn_form {
    background: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    border: 0;
    width: 226px;
    height: 57px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    color:  var(--color-white);
    text-align: center;
    align-self: flex-end;
}

.footer {
    box-shadow: 0px -5px 40px #00000029;
    margin-top: 59px;
    align-content: stretch;
    align-items: center;
    flex-direction: column;
}

.footer_icon {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
}

.twitter_icon {
    background-image: url(/BestShop/assets/Twitter.svg);
    margin-right: 20px;
}

.facebook_icon {
    background-image: url(/BestShop/assets/Facebook.svg);
}

.footer_text {
    text-align: left;
    font-size: 11px;
    line-height: 15px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    color:  var(--color-grey);
}

.footer_section {
    width: 1352px;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1352px;
    height: 70px;
}