.section_benefits {
    display: flex;
    background-color: $color-light-grey;
    width: 100vw;
    flex-direction: column;
    align-items: center;

    @include mobile {
        max-width: 100vw;
    }

    .benefits_content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-left: 35px;
        margin-right: 20px;
    
        @include mobile {
            justify-content: flex-end;
            margin-left: 25px;
            width: 100vw;
        }
    }

    .benefits_box {
        width: 100vw;
        max-width: 1124px;
        height: 370px;
        background-color: $color-white;
        display: flex;
        border: 1px solid $color-border;
        border-radius: 5px;
        margin-top: 50px;

        @include mobile {
            width: 100vw;
            height: 370px;
            max-width: 80%;
        }
    }
}

.benefit_firts {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    justify-content: space-between;

    .benefit_first_photo {
        width: 180px;
        height: 180px;
        transform: rotate(45deg);
        background: $color-redish;
        border-radius: 41px;
        position: absolute;
        right: 110px;
        top: 51px;
    
        @include mobile {
            width: 100px;
            height: 100px;
            border-radius: 41px;
            left: 50%;
            top: 31px;
        }
    }
    
    .benefit_first_photo::after {
        display: block;
        position: absolute;
        background-image: url("../assets/Macbook.png");
        width: 386px;
        height: 219px;
        content: "";
        transform: rotate(315deg);
        background-size: cover;
        top: 110px;
        left: -144px;
    
        @include mobile {
            width: 193px;
            height: 110px;
            top: 50px;
            left: -66px;
        }
    }
}

.benefit_second {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    position: relative;
    
    @include mobile {
        flex-direction: column-reverse;
    }

    .benefit_second_photo {
        position: absolute;
        width: 320px;
        height: 320px;
        background-color: #07ACE6;
        border-radius: 50%;
        left: 70px;
        top: 10px;
    
        @include mobile {
            width: 132px;
            height: 132px;
            left: 50%;
            margin-left: -66px;
        }
    }
    
    .benefit_second_photo::after {
        display: block;
        position: absolute;
        background-image: url("../assets/iPhone.png");
        width: 426px;
        height: 328px;
        content: "";
        background-size: cover;
        left: 3px;
        top: 15px;
    
        @include mobile {
            width: 175px;
            height: 135px;
        }
    }
}

.benefits_box:last-of-type {
    display: flex;
    width: 440px;
    max-width: 80%;
    height: 370px;
    background-color: $color-green;
    align-items: center;
    justify-content: center;
}

.benefits_box_duo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1124px;
    margin-bottom: 50px;

    @include mobile {
        width: 100vw;
        height: 500px;
        flex-direction: column;
        align-items: center;
    }

    .benefits_box_small {
        width: 623px;
        height: 370px;
        background-color: $color-white;
        display: flex;
        border: 1px solid $color-border;
        border-radius: 5px;
        margin-top: 37px;
    
        @include mobile {
            width: 100%;
            max-width: 80%;
            height: 935px;
            align-items: center;
        }
    }
}

.benefit_third_photo {
    position: relative;
    background-color: $color-green;
    width: 440px;
    height: 370px;
    margin-top: 38px;
    border: 1px solid $color-border;
    border-radius: 5px;

    @include mobile {
        width: 100%;
        max-width: 80%;
        height: 195px;
        margin-top: 0;
    }
}

.benefit_third_photo::after {
    display: block;
    position: relative;
    background-image: url("../assets/Trumpet.png");
    width: 296px;
    height: 208px;
    background-size: cover;
    content: "";
    top: 98px;
    left: 62px;

    @include mobile {
        width: 296px;
        height: 208px;
        top: 15%;
        left: 50%;
        margin-left: -150px;
    }
}




.headline_benefits {
    text-align: left;
    font-family: $font-raleway;
    letter-spacing: 0px;
    color: $color-black;
    text-align: left;
    font-size: 36px;
    line-height: 42px;

    @include mobile {
        font-size: 30px;
        line-height: 35px;
    }
}

.headline_size_benefit_one {
    width: 237px;
    height: 42px;

}

.headline_size_benefit_second {
    width: 246px;
    height: 84px;
}

.headline_size_benefit_third {
    width: 348px;
    height: 84px;
}

.text_benefits {
    display: flex;
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    font-family: $font-open-sans;
    letter-spacing: 0px;
    color: $color-black;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 416px;
    height: 66px;

    @include mobile {
        font-size: 14px;
        line-height: 19px;
        width: 100vw;
        max-width: 70%;
        margin-bottom: 30px;
    }
}

.benefit_line {
    display: block;
    width: 328px;
    height: 0px;
    border: 2px solid; 
    border-color: $color-redish;

    @include mobile {
        border: 0px solid; 
        width: 0px;
    }
}

.second_line {
    border-color: $color-primary;
}

.third_line {
    border-color: $color-green;
}