.btn_wellcome {
    background-origin: padding-box;
    background-clip: padding-box;
    background-color: $color-primary;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: $button-radius;
    width: 440px;
    height: 67px;
    border: none;
    margin-top: 18px;
    position: relative;

    .btn_wellcome_text {
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        font-family: $font-open-sans;
        letter-spacing: 0px;
        color: $color-white;
        margin-bottom: 50px;
    }

    @include mobile {
        max-width: 80vw;
    }
}



.btn {
    position: relative;
    bottom: -45px;
    width: 150px;
    height: 50px;
    background-color: $color-backgroud-red;
    border-radius: 23px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    line-height: 50px;
    font-family: $font-open-sans;   
    letter-spacing: 0px;
    color: $color-white;
}

.btn_basic {
    background-color: $color-backgroud-red;

    @include mobile {
        bottom: -5px;
    }
}

.btn_professional {
    background-color: $color-border-blue;
}

.btn_premium {
    background-color: $color-green;
}

.btn_form {
    background: $color-primary;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    border: 0;
    width: 226px;
    height: 57px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    font-family: $font-open-sans;
    letter-spacing: 0px;
    color: $color-white;
    text-align: center;
    align-self: flex-end;
}
