.header {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    background:  $color-white 0% 0%;
    box-shadow: 0px 3px 6px #00000029;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1352px;
        max-width: 80%;
        height: 70px;
    }
}



.logo_text {
    text-align: left;
    line-height: 37;
    font-size: 32px;
    line-height: 37px;
    font-family: $font-raleway;
    font-weight: 300;
    color: $color-primary;
    }


.footer_text {
    text-align: left;
    font-size: 11px;
    line-height: 15px;
    font-family: $font-open-sans;
    letter-spacing: 0px;
    color: $color-grey;
}

.footer_section {
    width: 1352px;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.footer {
    box-shadow: 0px -5px 40px #00000029;
    margin-top: 59px;
    align-content: stretch;
    align-items: center;
    flex-direction: column;

       .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1352px;
        height: 70px;
    }
}

.nav_list_footer {
    display: flex;
}

.footer_icon {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
}

.twitter_icon {
    background-image: url("../assets/Twitter.svg");
    margin-right: 20px;
}

.facebook_icon {
    background-image: url("../assets/Facebook.svg");
}


