.nav_list {
    display: flex;
    text-align: center;

    .nav_link {
        display: flex;
        letter-spacing: 3.28px;
        color:  $color-black;
        font-size: 11px;
        line-height: 15px;
        font-family: $font-open-sans;
        font-weight: bold;
        color: $color-grey;
        margin-left: 95px;
        text-decoration: none;
        height: 66px;
        align-items: center;
        border-bottom-color: $color-white;
        border-bottom-style: solid;
        border-bottom-width: 4px;
    }

    .nav_link:hover {
        display: flex;
        text-align: center;
        font: normal normal bold 11px/15px $font-open-sans;
        letter-spacing: 3.28px;
        color:  $color-black;
        border-bottom-color: rgb(8, 166, 228);
        border-bottom-style: solid;
        border-bottom-width: 4px;
        height: 66px;
    }
}