.section_price {
    background-color: $color-white;
    width: 100%;
}

.pricing_ofer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 100px;
}

.headline_pricing {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-family: $font-raleway;
    letter-spacing: 0px;
    color: $color-black;
    height: 42px;
}

.pricing_container {
    width: 100%;
    max-width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.pricing_box {
    background-color: $color-white;
    border: 1px solid;
    border-radius: 18px;
    width: 372px;
    height: 461px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pricing_basic {
    border-color: $color-redish;
    color: $color-redish;
}


.pricing_professional {
    border-color: $color-border-blue;
    box-shadow: 5px 10px 27px #07ACE629;
    width: 405px;
    height: 500px;
    color: $color-border-blue;
}

.pricing_premium {
    border-color: $color-green;
    color: $color-green;
} 

.headline_pricing_box {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 1px;
    font-family: $font-raleway;
    letter-spacing: 0px;
    color: #13253B;
    margin-top: 25px;
}

.price_pakiet {
    text-align: left;
    font-weight: 300;
    font-size: 46px;
    font-family: $font-open-sans;
    letter-spacing: 0px;
    margin-top: 20px;
}

.pakiet_basic {
    margin-bottom: 10px;
}

.limited_info {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    line-height: 1px;
    font-family: $font-raleway;
    letter-spacing: 0px;
    color: #13253B;
}

.pricing_list {
    margin-top: 50px;
}

.pricing_element {
    text-align: center;
    font-size: 14px;
    line-height: 41px;
    font-family: $font-open-sans;
    letter-spacing: 0px;
    color: $color-black;
}

.pricing_yes::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Ckechmark-1.svg");
  }

.pricing_not::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Close.svg");
  }


