.background_wellcome {
    position: absolute;
    background-position: bottom;
    bottom: 0;
    width: 100vw;
}

.section_wellcome {
    height: 890px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.headline_wellcome{
    text-align: center;
    font-stretch: normal;
    font-size: 49px;
    line-height: 57px;
    font-family: $font-raleway;
    letter-spacing: 0px;
    color:  $color-black;
    margin-top: 130px;
    background-position: bottom;
}

.text_wellcome {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-family: $font-open-sans;
    letter-spacing: 0px;
    color: $color-black;
    margin-top: 20px;
    margin-bottom: 20px;
}

