z * {
    box-sizing: border-box;
}

:root {
    --primary-color-one: #08A6E4;
    --primary-color-one-clear: #07ACE6;
    --primary-color-two: #FB3B64;
    --primary-color-two-clear: #FB3B64;
    --primary-color-three: #55DFB4;
    --size-statistics-number: 20px;
    --size-headliner-text: 36px;
    --size-content-text: 16px;
    --size-packet-header: 20px;
    --size-packet-header-center: 21px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    background: #FFFFFF 0% 0%;
    box-shadow: 0px 3px 6px #00000029;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1352px;
    height: 70px;
}

.logo_text {
    text-align: left;
    line-height: 37;
    font-size: 32px;
    line-height: 37px;
    font-family: Raleway;
    font-weight: 300;
    color: #08A6E4;
}

.nav_list {
    display: flex;
    text-align: center;

}

.nav_link {
    display: flex;
    letter-spacing: 3.28px;
    color: #000000;
    font-size: 11px;
    line-height: 15px;
    font-family: "Open Sans";
    font-weight: bold;
    color: #A5A5A5;
    margin-left: 95px;
    text-decoration: none;
    height: 66px;
    align-items: center;
    border-bottom-color: #FFFFFF ;
    border-bottom-style: solid;
    border-bottom-width: 4px;
}

.nav_link:hover {
    text-align: center;
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: #000000;
    border-bottom-color: rgb(8, 166, 228);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    height: 66px;
}


.background_wellcome {
    position: absolute;
    background-position: bottom;
    bottom: 0;

}

.section_wellcome {
    height: 842px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.headline_wellcome{
    text-align: center;
    font-stretch: normal;
    font-size: 49px;
    line-height: 57px;
    font-family: Raleway;
    letter-spacing: 0px;
    color: #000000;
    margin-top: 130px;
}

.text_wellcome {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-family: "Open Sans";
    letter-spacing: 0px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button_wellcome {
    background-origin: padding-box;
    background-clip: padding-box;
    background-color: rgb(8, 166, 228);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    width: 440px;
    height: 67px;
    border: none;
    margin-top: 18px;
    position: relative;

}

.button_wellcome_text {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    font-family: "Open Sans";
    letter-spacing: 0px;
    color: #FFFFFF;
}