* {
    box-sizing: border-box;
}

:root {
    --primary-color-one: #08A6E4;
    --primary-color-one-clear: #07ACE6;
    --primary-color-two: #FB3B64;
    --primary-color-two-clear: #FB3B64;
    --primary-color-three: #55DFB4;
    --size-statistics-number: 20px;
    --size-headliner-text: 36px;
    --size-content-text: 16px;
    --size-packet-header: 20px;
    --size-packet-header-center: 21px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    background: #FFFFFF 0% 0%;
    box-shadow: 0px 3px 6px #00000029;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1352px;
    height: 70px;
}

.logo_text {
    text-align: left;
    line-height: 37;
    font-size: 32px;
    line-height: 37px;
    font-family: Raleway;
    font-weight: 300;
    color: #08A6E4;
}

.nav_list {
    display: flex;
    text-align: center;

}

.nav_link {
    display: flex;
    letter-spacing: 3.28px;
    color: #000000;
    font-size: 11px;
    line-height: 15px;
    font-family: "Open Sans";
    font-weight: bold;
    color: #A5A5A5;
    margin-left: 95px;
    text-decoration: none;
    height: 66px;
    align-items: center;
    border-bottom-color: #FFFFFF ;
    border-bottom-style: solid;
    border-bottom-width: 4px;
}

.nav_link:hover {
    text-align: center;
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: #000000;
    border-bottom-color: rgb(8, 166, 228);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    height: 66px;
}


.background_wellcome {
    position: absolute;
    background-position: bottom;
    bottom: 0;

}

.section_wellcome {
    height: 842px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.headline_wellcome{
    text-align: center;
    font-stretch: normal;
    font-size: 49px;
    line-height: 57px;
    font-family: Raleway;
    letter-spacing: 0px;
    color: #000000;
    margin-top: 130px;
}

.text_wellcome {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-family: "Open Sans";
    letter-spacing: 0px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button_wellcome {
    background-origin: padding-box;
    background-clip: padding-box;
    background-color: rgb(8, 166, 228);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    width: 440px;
    height: 67px;
    border: none;
    margin-top: 18px;
    position: relative;
}

.button_wellcome_text {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    font-family: "Open Sans";
    letter-spacing: 0px;
    color: #FFFFFF;
}

.section_statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.headline_statistics {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-family: Raleway;
    letter-spacing: 0px;
    color: #000000;
    margin-top: 100px;
    margin-bottom: 100px;
}

.statistics_container {
    display: flex;
    width: 823px;
    justify-content: space-between;
    margin-bottom: 121px;
}

.person_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 116px;
    height: 140px;
}

.eye_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 176px;
    height: 167px;
}

.catalog_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 163px;
    height: 168px;
}

.person_icon { 
    width: 63px;
    height: 63px;
    background-color: rgb(251, 59, 100);
    border-radius: 50%;
}

.person_icon:before {
    display: block;
    background-image: url("/BestShop/assets/Person.svg");
    width: 44px;
    height: 52px;
    content: "";
    margin-left: 30px;
}

.eye_icon { 
    width: 63px;
    height: 63px;
    background-color: #08A6E4;
    border-radius: 50%;
}

.eye_icon:before {
    display: block;
    background-image: url("/BestShop/assets/Eye.svg");
    width: 65px;
    height: 37px;
    content: "";
    margin-left: 20px;
    margin-top: 10px;
}

.catalog_icon { 
    width: 63px;
    height: 63px;
    background-color: #55DFB4;
    border-radius: 50%;
}

.catalog_icon:before {
    display: block;
    background-image: url("/BestShop/assets/Catalog.svg");
    width: 52px;
    height: 48px;
    content: "";
    margin-left: 30px;
    margin-top: 5px;
}

.statistics_number {
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    font-family: Raleway;
    letter-spacing: 5.96px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 15px;
}

.text_statistics {
    text-align: center;
    font-size: 17px;
    line-height: 20px;
    font-family: Raleway;
    letter-spacing: 0px;
    color: #A5A5A5;
}

.section_benefits {
    display: flex;
    background-color: #F7F7F7;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.benefits_box {
    display: flex;
    max-width: 80%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefits_content {
    display: flex;
    pa
}

.benefit_firts {
    display: flex;
    justify-content: center;
}

.headline_benefits {
    text-align: left;
    font-size: 36px;
    line-height: 42px;
    font-family: Raleway;
    letter-spacing: 0px;
    color: #000000;
}

.text_benefits {
    display: flex;
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    font-family: "Open Sans";
    letter-spacing: 0px;
    color: #000000;
    flex-direction: column;
    justify-content: center;

}