* {
    box-sizing: border-box;
}

:root {
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Openzz Sans", sans-serif;
  }

.header, .footer {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    background:  var(--color-white) 0% 0%;
    box-shadow: 0px 3px 6px #00000029;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1352px;
    max-width: 80%;
    height: 70px;
}

.logo_text {
    text-align: left;
    line-height: 37;
    font-size: 32px;
    line-height: 37px;
    font-family: var(--font-raleway);
    font-weight: 300;
    color: var(--color-primary);
}

.nav_list {
    display: flex;
    text-align: center;

}

.nav_link {
    display: flex;
    letter-spacing: 3.28px;
    color:  var(--color-black);
    font-size: 11px;
    line-height: 15px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    color:  var(--color-grey);
    margin-left: 95px;
    text-decoration: none;
    height: 66px;
    align-items: center;
    border-bottom-color:  var(--color-white);
    border-bottom-style: solid;
    border-bottom-width: 4px;
}

.nav_link:hover {
    display: flex;
    text-align: center;
    font: normal normal bold 11px/15px var(--font-open-sans);
    letter-spacing: 3.28px;
    color:  var(--color-black);
    border-bottom-color: rgb(8, 166, 228);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    height: 66px;
}


.background_wellcome {
    position: absolute;
    background-position: bottom;
    bottom: 0;
    width: 100vw;
}

.section_wellcome {
    height: 842px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.headline_wellcome{
    text-align: center;
    font-stretch: normal;
    font-size: 49px;
    line-height: 57px;
    font-family: var(--font-raleway);
    letter-spacing: 0px;
    color:  var(--color-black);
    margin-top: 130px;
}

.text_wellcome {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    color:  var(--color-black);
    margin-top: 20px;
    margin-bottom: 20px;
}

.button_wellcome {
    background-origin: padding-box;
    background-clip: padding-box;
    background-color: rgb(8, 166, 228);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    width: 440px;
    height: 67px;
    border: none;
    margin-top: 18px;
    position: relative;
}

.button_wellcome_text {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    color:  var(--color-white);
}

.section_statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.headline_statistics {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-family: var(--font-raleway);
    letter-spacing: 0px;
    color:  var(--color-black);
    margin-top: 100px;
    margin-bottom: 100px;
}

.statistics_container {
    display: flex;
    width: 823px;
    justify-content: space-between;
    margin-bottom: 121px;
}

.person_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 116px;
    height: 140px;
}

.eye_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 176px;
    height: 167px;
}

.catalog_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 163px;
    height: 168px;
}

.person_icon { 
    width: 63px;
    height: 63px;
    background-color: rgb(251, 59, 100);
    border-radius: 50%;
}

.person_icon:before {
    display: block;
    background-image: url(/BestShop/assets/Person.svg);
    width: 44px;
    height: 52px;
    content: "";
    margin-left: 30px;
}

.eye_icon { 
    width: 63px;
    height: 63px;
    background-color: var(--color-primary);
    border-radius: 50%;
}

.eye_icon:before {
    display: block;
    background-image: url("/BestShop/assets/Eye.svg");
    width: 65px;
    height: 37px;
    content: "";
    margin-left: 20px;
    margin-top: 10px;
}

.catalog_icon { 
    width: 63px;
    height: 63px;
    background-color:  var(--color-green);
    border-radius: 50%;
}

.catalog_icon:before {
    display: block;
    background-image: url("/BestShop/assets/Catalog.svg");
    width: 52px;
    height: 48px;
    content: "";
    margin-left: 30px;
    margin-top: 5px;
}


.statistics_number {
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    font-family: var(--font-raleway);
    letter-spacing: 5.96px;
    color:  var(--color-black);
    margin-top: 10px;
    margin-bottom: 15px;
}

.text_statistics {
    text-align: center;
    font-size: 17px;
    line-height: 20px;
    font-family: var(--font-raleway);
    letter-spacing: 0px;
    color:  var(--color-grey);
}

.section_benefits {
    display: flex;
    background-color:  var(--color-light-grey);
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.benefits_box {
    width: 1124px;
    height: 370px;
    background-color:  var(--color-white);
    display: flex;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin-top: 37px;
}

.benefits_box_small {
    width: 623px;
    height: 370px;
    background-color:  var(--color-white);
    display: flex;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin-top: 37px;
}

.benefits_box:last-of-type {
    display: flex;
    width: 440px;
    max-width: 80%;
    height: 370px;
    background-color: var(--color-green);
    align-items: center;
    justify-content: center;
}

.benefits_box_duo {
    display: flex;
    justify-content: space-between;
    width: 1124px;
    margin-bottom: 105px;
}

.benefits_content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 35px;
    margin-right: 20px;
}

.benefit_first_photo {
    width: 180px;
    height: 180px;
    transform: rotate(45deg);
    background: var(--color-redish);
    border-radius: 41px;
    position: relative;
    right: 110px;
    top: 51px;

    
}

.benefit_first_photo::after {
    display: block;
    position: absolute;
    background-image: url("/BestShop/assets/Macbook.png");
    width: 386px;
    height: 219px;
    content: "";
    transform: rotate(315deg);
    background-size: cover;
    top: 110px;
    left: -144px;

}

.benefit_second_photo {
    width: 320px;
    height: 320px;
    background-color: #07ACE6;
    border-radius: 50%;
    position: relative;
    left: 70px;
    top: 10px;
}

.benefit_second_photo::after {
    display: block;
    position: absolute;
    background-image: url("/BestShop/assets/iPhone.png");
    width: 426px;
    height: 328px;
    content: "";
    background-size: cover;
    left: 3px;
    top: 15px;
}

.benefit_third_photo {
    position: relative;
    background-color:  var(--color-green);
    width: 440px;
    height: 370px;
    margin-top: 38px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefit_third_photo::after {
    display: block;
    position: absolute;
    background-image: url("/BestShop/assets/Trumpet.png");
    width: 296px;
    height: 208px;
    background-size: cover;
    content: "";
    top: 98px;
    left: 62px;
}

.benefit_firts {
    display: flex;
    flex-direction: row;
    width: 1124px;
    justify-content: space-between;
}

.benefit_second {
    display: flex;
    flex-direction: row-reverse;
    width: 1124px;
    justify-content: space-between;
}


.headline_benefits {
    text-align: left;
    font-family: var(--font-raleway);
    letter-spacing: 0px;
    color:  var(--color-black);
    text-align: left;
    font-size: 36px;
    line-height: 42px;
}

.headline_size_benefit_one {
    width: 237px;
    height: 42px;

}

.headline_size_benefit_second {
    width: 246px;
    height: 84px;
}

.headline_size_benefit_third {
    width: 348px;
    height: 84px;
}

.text_benefits {
    display: flex;
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    color:  var(--color-black);
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 416px;
    height: 66px;
}

.benefit_line {
    display: block;
    width: 328px;
    height: 0px;
    border: 2px solid; 
    border-color:  var(--color-redish);
}

.second_line {
    border-color: var(--color-primary);
}

.third_line {
    border-color:  var(--color-green);
}

.section_price {
    background-color:  var(--color-white);
    width: 100%;
}

.pricing_ofer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 100px;
}

.headline_pricing {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-family: var(--font-raleway);
    letter-spacing: 0px;
    color:  var(--color-black);
    height: 42px;
}

.pricing_container {
    width: 100%;
    max-width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.pricing_box {
    background-color:  var(--color-white);
    border: 1px solid;
    border-radius: 18px;
    width: 372px;
    height: 461px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pricing_basic {
    border-color:  var(--color-redish);
    color:  var(--color-redish);
}


.pricing_professional {
    border-color: #07ACE6;
    box-shadow: 5px 10px 27px #07ACE629;
    width: 405px;
    height: 500px;
    color: #07ACE6;
}

.pricing_premium {
    border-color:  var(--color-green);
    color:  var(--color-green);
} 

.headline_pricing_box {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 1px;
    font-family: var(--font-raleway);
    letter-spacing: 0px;
    color: #13253B;
    margin-top: 25px;
}

.price_pakiet {
    text-align: left;
    font-weight: 300;
    font-size: 46px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    margin-top: 20px;
}

.pakiet_basic {
    margin-bottom: 10px;
}

.limited_info {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    line-height: 1px;
    font-family: var(--font-raleway);
    letter-spacing: 0px;
    color: #13253B;
}

.pricing_list {
    margin-top: 50px;
}

.pricing_element {
    text-align: center;
    font-size: 14px;
    line-height: 41px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    color:  var(--color-black);
}

.pricing_yes::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Ckechmark-1.svg");
  }

.pricing_not::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Close.svg");
  }

.btn {
    position: relative;
    bottom: -45px;
    width: 150px;
    height: 50px;
    background-color: #EB476E;
    border-radius: 23px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    line-height: 50px;
    font-family: var(--font-open-sans);   
    letter-spacing: 0px;
    color:  var(--color-white);
}

.btn_basic {
    background-color: #EB476E;
}

.btn_professional {
    background-color: #07ACE6;
}

.btn_premium {
    background-color:  var(--color-green);
}

.section_contact {
    display: flex;
    justify-content: center;
    margin-top: 155px;
    background-color:  var(--color-white);
    width: 100vw;
}


.contant_container {
    display: flex;
    width: 100vw;
    max-width: 50%;
    flex-direction: row;
    justify-content: space-around;
}

.contact_info {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.headline_questions {
    text-align: left;
    font-size: 49px;
    line-height: 57px;
    font-family: var(--font-raleway);
    letter-spacing: 0px;
    color:  var(--color-black);
}

.questions_text {
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    color:  var(--color-black);
    margin-top: 22px;
    margin-bottom: 40px;
}

.contant_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.email_icon::before {
    content: "";
    background-image: url(/BestShop/assets/Mail\ Icon.svg);
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-right: 10px;
}

.phone_icon::before {
    content: "";
    background-image: url(/BestShop/assets/Phone\ Icon.svg);
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-right: 10px;
}

.contact_form_box {
    width: 440px;
    height: 376px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact_detalis {
    display: inline-flex;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    color:  var(--color-grey);
    align-items: center;
}

.contact_form {
    display: flex;
    flex-direction: column;
}

.form_contact {  
    border: none;
    border-bottom: 1px solid #95989A;
    width: 440px;
}

.form_text {
    text-align: left;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    font-family: var(--font-open-sans);
    letter-spacing: 3.28px;
    color: var(--color-primary);
}

.checkbox_icon {
    display: flex;
    background-position: center;
    background-size: 50%;
    background-color:  var(--color-white);
    margin-right: 10px;
    flex-shrink: 0;
    flex-basis: 24px;
    height: 24px;
    border: 1px solid #95989A;
    border-radius: 4px;
}

.checkbox_form {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.checkbox_form:checked + .checkbox_icon {
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.checkbox_text {
    text-align: left;
    font-size: 12px;
    line-height: 17px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    color: #707070;
}

.checkbox_box {
    display: flex;
    position: relative;
}

.btn_form {
    background: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    border: 0;
    width: 226px;
    height: 57px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    color:  var(--color-white);
    text-align: center;
    align-self: flex-end;
}

.footer {
    box-shadow: 0px -5px 40px #00000029;
    margin-top: 59px;
    align-content: stretch;
    align-items: center;
    flex-direction: column;
}

.footer_icon {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
}

.twitter_icon {
    background-image: url(/BestShop/assets/Twitter.svg);
    margin-right: 20px;
}

.facebook_icon {
    background-image: url(/BestShop/assets/Facebook.svg);
}

.footer_text {
    text-align: left;
    font-size: 11px;
    line-height: 15px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    color:  var(--color-grey);
}

.footer_section {
    width: 1352px;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1352px;
    height: 70px;
}